In [1]:
import pandas as pd
import numpy as np

In [2]:
URL = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/spacex_launch_geo.csv'
# resp = await fetch(URL)
# spacex_csv_file = io.BytesIO((await resp.arrayBuffer()).to_py())
# spacex_df=pd.read_csv(spacex_csv_file)

spacex_df = pd.read_csv(URL)
spacex_df.head()

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Landing Outcome,class,Lat,Long
0,1,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Failure (parachute),0,28.562302,-80.577356
1,2,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel o...",0.0,LEO (ISS),NASA (COTS) NRO,Failure (parachute),0,28.562302,-80.577356
2,3,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2+,525.0,LEO (ISS),NASA (COTS),No attempt,0,28.562302,-80.577356
3,4,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),No attempt,0,28.562302,-80.577356
4,5,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),No attempt,0,28.562302,-80.577356

In [9]:
# Agregaremos una nueva columna al df 'Marker_color' de pendiendo de la clase
# If class=1, marker_color value will be green
# If class=0, marker_color value will be red

spacex_df['marker_color'] = spacex_df['class'].apply(lambda x:'green' if x == 1 else 'red')

spacex_df['marker_color']

0       red
1       red
2       red
3       red
4       red
5       red
6       red
7       red
8       red
9       red
10      red
11      red
12      red
13      red
14      red
15      red
16      red
17    green
18    green
19      red
20    green
21    green
22    green
23      red
24    green
25    green
26      red
27      red
28    green
29    green
30    green
31    green
32      red
33      red
34      red
35      red
36    green
37      red
38    green
39    green
40      red
41    green
42    green
43      red
44    green
45    green
46    green
47    green
48    green
49    green
50    green
51      red
52      red
53      red
54    green
55      red
Name: marker_color, dtype: object