In [2]:
import pandas as pd
import numpy as np

In [3]:
URL = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/spacex_launch_geo.csv'
# resp = await fetch(URL)
# spacex_csv_file = io.BytesIO((await resp.arrayBuffer()).to_py())
# spacex_df=pd.read_csv(spacex_csv_file)

spacex_df = pd.read_csv(URL)
spacex_df.head()

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Landing Outcome,class,Lat,Long
0,1,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0.0,LEO,SpaceX,Failure (parachute),0,28.562302,-80.577356
1,2,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel o...",0.0,LEO (ISS),NASA (COTS) NRO,Failure (parachute),0,28.562302,-80.577356
2,3,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2+,525.0,LEO (ISS),NASA (COTS),No attempt,0,28.562302,-80.577356
3,4,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500.0,LEO (ISS),NASA (CRS),No attempt,0,28.562302,-80.577356
4,5,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677.0,LEO (ISS),NASA (CRS),No attempt,0,28.562302,-80.577356

In [4]:
# Agregaremos una nueva columna al df 'Marker_color' de pendiendo de la clase
# If class=1, marker_color value will be green
# If class=0, marker_color value will be red

spacex_df['marker_color'] = spacex_df['class'].apply(lambda x:'green' if x == 1 else 'red')

spacex_df['marker_color']

0       red
1       red
2       red
3       red
4       red
5       red
6       red
7       red
8       red
9       red
10      red
11      red
12      red
13      red
14      red
15      red
16      red
17    green
18    green
19      red
20    green
21    green
22    green
23      red
24    green
25    green
26      red
27      red
28    green
29    green
30    green
31    green
32      red
33      red
34      red
35      red
36    green
37      red
38    green
39    green
40      red
41    green
42    green
43      red
44    green
45    green
46    green
47    green
48    green
49    green
50    green
51      red
52      red
53      red
54    green
55      red
Name: marker_color, dtype: object

---

In [5]:
df = pd.read_csv('../../data/processed/0.2_Cardiovascular_Disease_Dataset.csv')
df.head()

,patientid,age,gender,chestpain,restingBP,serumcholestrol,fastingbloodsugar,restingrelectro,maxheartrate,exerciseangia,oldpeak,slope,noofmajorvessels,target
0,103368,53,1,2,171,0,0,1,147,0,5.3,3,3,1
1,119250,40,1,0,94,229,0,1,115,0,3.7,1,1,0
2,119372,49,1,2,133,142,0,0,202,1,5.0,1,0,0
3,132514,43,1,0,138,295,1,1,153,0,3.2,2,2,1
4,146211,31,1,1,199,0,0,2,136,0,5.3,3,2,1

In [6]:
age_category = df['age'].apply(lambda x : 'Young Adult' if 18 <= x <=35
                               else 'Senior Adult' if 35 < x <= 55
                               else 'Elder')

age_category.value_counts()

age
Elder           398
Senior Adult    323
Young Adult     279
Name: count, dtype: int64

In [7]:
bp_category = df['restingBP'].apply(lambda x: 'normal' if 90 <= x < 120
                      else 'high_normal' if 120 <= x < 140
                      else 'stg_one' if 140 <= x< 160
                      else 'stg_two' if 160 <= x < 180
                      else 'stg_three')
bp_category.value_counts()

restingBP
high_normal    309
stg_three      264
stg_one        190
stg_two        131
normal         106
Name: count, dtype: int64

---

In [8]:
df = pd.read_csv('../../data/processed/p_car_data.csv')
df.head(5)

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,brand
0,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero
1,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero
2,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero
3,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
4,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi

In [11]:
# Agrupamos brand por el price y su media

data_comp_avg_price = df[['brand','price']].groupby('brand', as_index = False).mean().rename(columns={'price':'brand_avg_price'})
data_comp_avg_price.sample(5)

df = df.merge(data_comp_avg_price, on ='brand')

In [13]:
df['brand_avg_price'].apply(lambda x: 'Budget' if x < 1000
                            else 'Mid_Range' if 1000 <= x < 2000
                            else 'Luxury')

0      Luxury
1      Luxury
2      Luxury
3      Luxury
4      Luxury
        ...
200    Luxury
201    Luxury
202    Luxury
203    Luxury
204    Luxury
Name: brand_avg_price, Length: 205, dtype: object