In [1]:
import pandas as pd

In [5]:
df_1 = pd.read_excel('./BD_SEM2_17FEB22FEB FORMATO V5 (3).xlsx', header=1)
df_2 = pd.read_excel('./SEMANA 1 COPIA.xlsx', header=1)

df = pd.concat([df_1, df_2], ignore_index=True)

In [20]:
df["N° DE SERIE (MEDIDOR)"].value_counts()

N° DE SERIE (MEDIDOR)
ITECHENE          112
202409002553        2
240809000235        2
202409002385        2
202409002346.0      1
                 ...
202409002602        1
202409002547        1
202409002544        1
202409002613        1
240809000225.0      1
Name: count, Length: 560, dtype: int64

In [14]:
conteo = df["N° DE SERIE (MEDIDOR)"].value_counts()
duplicados = conteo[conteo > 1]
print(duplicados)

N° DE SERIE (MEDIDOR)
ITECHENE        112
202409002553      2
240809000235      2
202409002385      2
Name: count, dtype: int64

In [10]:
df[['SUMINISTRO', 'N° DE SERIE (MEDIDOR)']]

     SUMINISTRO N° DE SERIE (MEDIDOR)
0      67312398          202409002630
1      67314070          202409002617
2      67312549          202409002611
3      67314329          202409002509
4      67312905          202409002726
..          ...                   ...
972    84090177                   NaN
973    84303178                   NaN
974    84914405                   NaN
975    88540751        202409002241.0
976    89439025        240809000225.0

[977 rows x 2 columns]

In [13]:
duplicados = df.duplicated(subset=["N° DE SERIE (MEDIDOR)"]).sum()
duplicados

416